.containor{
    height: 500px;
    width: 500px;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    justify-content: center;
    
    align-items: flex-start;
    align-items: stretch;
    align-items: center;
    /* gap: 20px; */
}
.box{
    border:1px solid red;
    background-color:deepskyblue;
    flex-basis: 100px;
    /* width: 100px; */
    /* flex-grow: 1; */

}
#box1{
    order: 3;
    /* flex-grow: 1; */
}
#box2{
    order: 2;
    /* flex-shrink: 3; */
}
#box3{
    order: 1;
}
#box4{
    order: 4;
}