 /* element selector */
        p{
            color: red;
            font-size: xx-small;
            font-family:cursive;
        }
        table, tr,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        /* Class Selector */
        .green{
            color: green;
        }
        .blue{
            color: blue;
        }
        /* id selector */
        #violet{
            color:blueviolet;
        }
        #orange{
            color: orange;
        }
        /* pseudo selector */
        button:hover{
            color:chartreuse;
        }
        a:hover{
            color: crimson;
        }
        /* gradient */
        #box{
            border: 1px solid black;
            width: 200px;
            height: 300px;
            /* normal */
            background-image: linear-gradient(rgb(206, 209, 33), rgb(43, 214, 226));
            /* subtle shift direction */
            background-image: linear-gradient(to bottom right,rgb(206, 209, 33), rgb(43, 214, 226));
            /* using angle */
            background-image: linear-gradient(210deg,rgb(206, 209, 33), rgb(43, 214, 226));
            /* using transparency */
            background-image: linear-gradient(rgba(206, 209, 33,1), rgba(43, 214, 226,6));

        }
        #rbox{
            border: 1px solid black;
            width: 200px;
            height: 300px;
            /* normal */
            background-image: radial-gradient(rgb(244, 32, 244), rgb(227, 119, 4));
            /* using percentage */
            background-image: radial-gradient(rgb(244, 32, 244)24%, rgb(227, 119, 4)4%);
            /* changing shape */
            background-image: radial-gradient(circle,rgb(244, 32, 244), rgb(227, 119, 4));
            
            
        }
        .shadow{
            /* shadow 2 necessary parameters first for shifting right second for shifting down third for blur  */
            /* -ve values bhi aa skti hai  */
            text-shadow: 3px 4px 5px red;
        }
        #boxshadow{
            /* same as text shadow background color is always same as text color */
            background-color: brown;
            color: chartreuse;
            width: 300px;
            height: 250px;
            box-shadow: 15px 15px 60px ;
        }
        #overflow{
            background-color: darkgoldenrod;
            max-height: 100px;
            width: 500px;
            border: 1px solid black ;
            overflow:scroll;
        }
        #transform{
            background-color: cornflowerblue;
            /* transform: translate(100px,50px); */
            /* transform: rotate(45deg); */
            margin: 200px;
            /* transform: scale(2,4); */
            transform: skew(20deg);
            width: 10px;
            height: 10px;
        }
        