div{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 30px;
    background-color: rgb(222, 14, 14);
}

#box3{
    position: relative;
    top: 35px;
    left: 20px;
    
}
#box1{
    position: fixed;
}
#box4{
    position: sticky;
    top: 0px;
}
#wrapper{
    height: 100vw;
    width: 100vw;
    background-color: aquamarine;
}